<div
  class="configuration-table-column"
  fxLayout="column"
  fxLayoutGap="10px">
  <div
    class="nx-margin-0"
    fxLayout="row"
    fxLayoutGap="5px"
    fxLayoutAlign="start center">
    <h2 nxHeadline="subsection-large">
      {{typename}}s
    </h2>
    <button
        nxIconButton="tertiary small" 
        class="nx-margin-0"
        aria-label="About"
        type="button"
        nxPopoverDirection="right"
        nxPopoverTrigger="click"
        nxPopoverModal="true"
        [nxPopoverTriggerFor]="typename === 'Environment' ?
          aboutEnvironments :
          aboutTypes">
        <nx-icon
          name="question-circle"
          [style.font-size]="'var(--font-l)'">
        </nx-icon>
      </button>
  </div>
  <div
    class="configuration-table-column__content"
    fxLayout="row"
    [class.configuration-table-column__content--emphasis]="configuration.length === 0">
    <div
      fxLayout="column"
      fxFill>
      <perfect-scrollbar [style.height.vh]=44>
        <ng-container *ngIf="isNewRowAdded">
          <cookiez-configuration-table-column-row
            [entity]="{
              __typename: typename,
              id: null, 
              name: null
            }"
            (added)="isNewRowAdded = false">
          </cookiez-configuration-table-column-row>
          <hr class="configuration-table-column__content--separator">
        </ng-container>
        <ng-container *ngFor="let entity of configuration">
          <cookiez-configuration-table-column-row
            [entity]="entity">
          </cookiez-configuration-table-column-row>
          <hr class="configuration-table-column__content--separator">
        </ng-container>
      </perfect-scrollbar>
      <section
        fxLayoutAlign="center center">
        <button
          class="nx-margin-top-2xs nx-margin-bottom-0"
          nxButton="emphasis"
          fxFill
          type="button"
          [disabled]="isNewRowAdded"
          (click)="isNewRowAdded = true">
          Add
        </button>
      </section>
    </div>
  </div>
</div>

<nx-popover #aboutEnvironments>
  <p [style.width.px]=250>
    An 'environment' is an indentifier for where your cookie snippet is to be used (qang, sbng, prod, etc.).
  </p>
</nx-popover>

<nx-popover #aboutTypes>
  <p [style.width.px]=250>
    A 'type' is an identifier for where within the application your cookie snippet is to be used (messaging, admin, patient, etc.).
  </p>
</nx-popover>