<div
  fxLayout="column"
  fxLayoutGap="10px">
  <h2
    nxHeadline="subsection-large"
    [ngStyle]="{'color': (disabled$ | async) ?
      'var(--formfield-disabled-text-color)' :
      'unset'
    }">
    Create Cookie
  </h2>
  <cookiez-cookie-form></cookiez-cookie-form>
  <ng-container *ngIf="(dirty$ | async)">
    <button
      nxButton="emphasis"
      fxFill
      type="submit"
      [disabled]="!(valid$ | async)"
      (click)="onCreate()">
      Add
    </button>
  </ng-container>
</div>