:root {
  --elevation:
    0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14),
    0px 3px 14px 2px rgba(0, 0, 0, 0.12);

  --font-xs: 14px;
  --font-s: 16px;
  --font-m: 18px;
  --font-l: 20px;
  --font-xl: 22px;
}