@import "@aposin/ng-aquila/styles/theming";

$cookiez-theme: (
    // =============== GENERAL
      ui-02: #252422,
      ui-03: #1d1c1b9f,
      ui-04: #34ebb4,
      ui-background: #363537,
      hover-primary: var(--ui-03),
      hover-secondary: var(--ui-03),
    // ===============
);

$nx-themes: nx-register-theme($cookiez-theme, cookiez-theme);
