@import "@aposin/ng-aquila/styles/theming";

$cookiez-theme: (
    // =============== GENERAL
      ui-01: #363537,
      ui-02: #252422,
      ui-03: #1d1c1b9f,
      ui-04: #34ebb4,
      ui-05: #a0a0a0,
      ui-06: #c5c5c5,
      ui-background: var(--ui-01),
      hover-primary: var(--ui-03),
      hover-secondary: var(--ui-03),
      interactive-primary: var(--ui-04),
      success: var(--ui-04),
    // ===============

    // =============== TABLE
      table-header-cell-background-color: var(--ui-02),
      table-row-background-color: var(--ui-03),
      pagination-link-color: var(--ui-05),
    // ===============

    // =============== MODAL
      modal-background-color: var(--ui-01),
    // ===============

    // =============== DROPDOWN
      dropdown-panel-header-text-color: var(--text-02),
      dropdown-panel-header-background-color: var(--ui-04),
      dropdown-item-hover-color: var(--ui-04),
      dropdown-filter-input-border-color: var(--text-01),
    // ===============

    // =============== BUTTON
      button-emphasis-background-color: var(--ui-03),
      button-emphasis-border-color: var(--ui-03),
      button-emphasis-text-color: var(--ui-06),
      button-emphasis-hover-background-color: var(--ui-04),
      button-emphasis-hover-text-color: #000,
      button-emphasis-active-text-color: #000,
    // ===============
);

$nx-themes: nx-register-theme($cookiez-theme, cookiez-theme);
