<table
  nxTable
  aria-hidden="true">
  <thead>
    <tr
      nxTableRow
      fxLayout="row">
      <th
        *ngFor="let header of headers"
        nxHeaderCell
        scope="col"
        [fxFlex]="header.size">
        {{header.name}}
      </th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let item of (data$ | async)">
      <tr nxTableRow>
        <td nxTableCell fxFlex="30">{{item.environment | uppercase}}</td>
        <td nxTableCell fxFlex="30">{{item.type | uppercase}}</td>
        <td nxTableCell fxFlex="40">SNIPPETS</td>
      </tr>
    </ng-container>
  </tbody>
</table>

<nx-pagination
  class="pagination"
  [nxCount]="(total$ | async)"
  [nxPage]="(page$ | async)"
  nxType="advanced"
  nxPerPage="20"
  (nxGoPrev)="prevPage()"
  (nxGoNext)="nextPage()"
  (nxGoPage)="goToPage($event)">
</nx-pagination>