.home {
  &__snippet {
    height: 50px;
    background-color: var(--ui-01);
    border-radius: 10px;
    box-shadow: var(--elevation);
    cursor: pointer;

    :first-child {
      font-size: var(--font-xs);
      margin: 10px;
    }
  }

  &__no-cookies {
    height: 600px;
    padding: 10px 40px;

    &--message {
      font-size: var(--font-s);

      &__icon {
        font-size: var(--font-l);
        transform: translateY(4px);
      }
    }
  }
}