<cookiez-table-filter></cookiez-table-filter>
<cookiez-table-render-observer>
  <ng-container *ngIf="(pagination$ | async) as pagination">
    <perfect-scrollbar [style.height]="'calc(100% - 120px)'">
      <table
        class="home"
        aria-hidden="true"
        nxTable
        nxExpandableTable
        #expandableTable="nxExpandableTable">
        <thead>
          <tr
            nxTableRow
            fxLayout="row">
            <th
              *ngFor="let header of headers"
              nxHeaderCell
              scope="col"
              [fxFlex]="header.size"
              [style.font-size]="'var(--font-l)'">
              {{header.name}}
            </th>
            <th
              nxHeaderCell
              scope="col"
              fxFlex="5"
              fxLayoutAlign="center center">
            <nx-toggle-button [target]="expandableTable"></nx-toggle-button>
          </th>
          </tr>
        </thead>
        <tbody #cookies>
          <ng-container *ngIf="pagination.collection">
            <ng-container *ngFor="let item of pagination.collection">
              <tr nxTableRow>
                <td
                  nxTableCell
                  fxFlex="8"
                  fxLayoutAlign="start center">
                  <section
                    fxLayout="row"
                    fxLayoutGap="10px">
                    <button
                      nxIconButton="tertiary small" 
                      aria-label="Edit Cookie"
                      class="nx-margin-0"
                      type="button"
                      (click)="onEdit(item)">
                      <nx-icon name="edit"></nx-icon>
                    </button>
                    <ng-container
                      *ngTemplateOutlet="deleteCookie; context: { id: item.id }">
                    </ng-container>
                  </section>
                </td>
                <td
                  nxTableCell
                  fxFlex="26"
                  fxLayoutAlign="start center">
                  {{item.environment | uppercase}}
                </td>
                <td
                  nxTableCell
                  fxFlex="26"
                  fxLayoutAlign="start center">
                  {{item.type | uppercase}}
                </td>
                <td
                  nxTableCell
                  fxFlex="40">
                  <div class="home__snippet">
                    <section
                      nxTooltip="Copy to Clipboard"
                      nxTooltipPosition="left"
                      [line-truncation]="2"
                      [cdkCopyToClipboard]="item.snippet"
                      (click)="copiedToClipboard()">
                      {{item.snippet}}
                    </section>
                  </div>
                </td>
                <td
                  nxTableCell
                  fxFlex="5"
                  fxLayoutAlign="center center">
                  <nx-toggle-button [target]="expandableRow"></nx-toggle-button>
                </td>
              </tr>
              <tr
                nxExpandableTableRow
                #expandableRow>
                <td
                  nxExpandableTableCell
                  fxFlex="100"
                  [style.padding-left.px]=50>
                  <pre [style.white-space]="'pre-line'">
                    {{item.snippet}}
                  </pre>
                </td>
              </tr>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="pagination.collection?.length === 0">
            <div
              class="home__no-cookies"
              fxLayout="column"
              fxLayoutAlign="center center">
              <ng-container *ngIf="!(dirty$ | async); else noCookiesMatchFilter">
                <h1>No Cookiez...</h1>
                <p class="home__no-cookies--message">
                  To begin adding some, click on the
                  (<nx-icon
                    class="home__no-cookies--message__icon"
                    name="cog">
                  </nx-icon>)
                  located at the bottom left.
                </p>
              </ng-container>
              <ng-template #noCookiesMatchFilter>
                <h1>No Cookiez match filter...</h1>
              </ng-template>
            </div>
          </ng-container>
        </tbody>
      </table>
    </perfect-scrollbar>
  
    <nx-pagination
      class="pagination"
      nxType="advanced"
      nxPerPage="20"
      fxLayoutAlign="end center" 
      [nxCount]="pagination.total"
      [nxPage]="pagination.page"
      (nxGoPrev)="prevPage()"
      (nxGoNext)="nextPage()"
      (nxGoPage)="goToPage($event)">
    </nx-pagination>
  </ng-container>
</cookiez-table-render-observer>

<ng-template
  #deleteCookie
  let-id=id>
  <button
    nxIconButton="tertiary small" 
    aria-label="Delete Cookie"
    class="nx-margin-0"
    type="button"
    nxPopoverDirection="right"
    nxPopoverTrigger="click"
    nxPopoverModal="true"
    [nxPopoverTriggerFor]="deleteCookiePopover">
    <nx-icon name="bin"></nx-icon>
  </button>

  <nx-popover #deleteCookiePopover>
    <cookiez-confirmation-popover-template
      (cancel)="deleteCookiePopover.emitCloseButtonClick()"
      (confirm)="deleteCookiePopover.emitCloseButtonClick(); onDelete(id)">
    </cookiez-confirmation-popover-template>
  </nx-popover>
</ng-template>