<div
  class="nx-margin-y-2xs"
  fxLayout="row"
  fxLayoutGap="20">
  <div fxFlex="30">
    <section
      fxLayout="row"
      fxLayoutGap="10px">
      <button
        nxIconButton="tertiary small" 
        aria-label="Toggle Edit"
        class="nx-margin-0"
        type="button"
        (click)="onEditToggle()">
        <nx-icon [name]="editing || !entity.id ? 'x' : 'edit'"></nx-icon>
      </button>
      <ng-container *ngIf="(editing || !entity.id); else showTrash">
        <button
          nxIconButton="tertiary small" 
          class="nx-margin-0"
          aria-label="Save"
          type="submit"
          [disabled]="form.invalid"
          (click)="onSave()">
          <nx-icon name="tick"></nx-icon>
        </button>
      </ng-container>
      <ng-template #showTrash>
        <button
          nxIconButton="tertiary small" 
          class="nx-margin-0"
          aria-label="Delete"
          type="submit"
          nxPopoverDirection="right"
          nxPopoverTrigger="click"
          nxPopoverModal="true"
          [nxPopoverTriggerFor]="deleteConfiguration">
          <nx-icon name="bin"></nx-icon>
        </button>
      </ng-template>
    </section>
  </div>
  <div
    fxFlex
    fxLayoutAlign="start center">
    <ng-container *ngIf="editing || !entity.id; else showStaticName">
      <form [formGroup]="form">
        <nx-formfield
          class="nx-margin-0"
          fxFlex="90"
          appearance="outline">
          <input
            nxInput
            required
            cookiezAutoFocus
            formControlName="name"/>
          </nx-formfield>
      </form>
    </ng-container>
    <ng-template #showStaticName>
      <h3
        class="nx-margin-0"
        nxHeadline="subsection-small">
        {{name.value}}
      </h3>
    </ng-template>
  </div>
</div>

<nx-popover #deleteConfiguration>
  <cookiez-confirmation-popover-template
    (cancel)="deleteConfiguration.emitCloseButtonClick()"
    (confirm)="deleteConfiguration.emitCloseButtonClick(); onDelete()">
  </cookiez-confirmation-popover-template>
</nx-popover>