<nx-sidebar
  cookiezSidebar
  class="cookiez-navigation"
  resizeable="false">
  <button
    class="cookiez-navigation__actions"
    nxAction
    type="button"
    nxPopoverDirection="right"
    nxPopoverTrigger="click"
    nxPopoverModal="true"
    [nxPopoverTriggerFor]="account">
    <nx-icon
      nxActionIcon
      name="user">
    </nx-icon>
  </button>
  <button
    class="cookiez-navigation__actions"
    *ngFor="let action of actions"
    nxAction
    type="button">
    <nx-icon
      nxActionIcon
      [name]="action.icon">
    </nx-icon>
    {{action.label}}
  </button>

  <nx-sidebar-footer>
    <button
        nxIconButton="tertiary small-medium" 
        aria-label="Open settings"
        nxTooltip="Open settings"
        class="nx-margin-0"
        type="button"
        (click)="onConfiguration()">
      <nx-icon name="cog"></nx-icon>
    </button>
    <button
      nxSidebarToggle
      aria-label="Toggle sidebar"
      type="button">
    </button>
  </nx-sidebar-footer>
</nx-sidebar>

<nx-popover #account>
  <cookiez-account></cookiez-account>
</nx-popover>