@import "@angular/cdk/overlay-prebuilt.css";
@import "@angular/cdk/a11y-prebuilt.css";
@import "@aposin/ng-aquila/css/utilities.css";
@import 'theme';
@import 'aquila-overrides';
@import 'perfect-scrollbar-overrides';
@import 'other';

@include nx-build-theme(cookiez-theme);

* {
  letter-spacing: 1px !important;
  font-weight: 600 !important;
  font-family: 'Fira Code', sans-serif !important;
}