.configuration {
  padding-bottom: 30px;
  overflow: hidden;

  .nx {
    &-formfield__wrapper {
      padding: 0 !important;
      font-size: var(--font-xs);
    }

    &-formfield.has-outline .nx-formfield__row {
      min-height: unset !important;
    }

    &-formfield__input-container {
      height: 30px !important;
    }
  }
}