<div
  class="configuration"
  nxModalContent
  fxLayout="column"
  fxLayoutGap="15px">
  <h1 nxHeadline="subsection-large">
    Configuration
  </h1>
  <div
    fxLayout="row"
    fxLayoutGap="50px">
    <div fxFlex="25">
      <cookiez-configuration-table-column
        typename="Environment"
        [configuration]="(configuration$ | async)?.environments">
      </cookiez-configuration-table-column>
    </div>
    <div fxFlex="25">
      <cookiez-configuration-table-column
        typename="Type"
        [configuration]="(configuration$ | async)?.types">
      </cookiez-configuration-table-column>
    </div>
    <div fxFlex>
      <cookiez-configuration-cookie-form>
      </cookiez-configuration-cookie-form>
    </div>
  </div>
</div>
<div nxModalActions>
  <button
    class="configuration__close nx-margin-bottom-0"
    nxModalClose="Close"
    nxButton="small"
    type="button">
    Close
  </button>
</div>